<?xml version="1.0" encoding="utf-8"  ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.tbao.Dao.CommodityTypeDao">
    <insert id="insert">
        insert into commodity_type (name, state)  value (#{name},#{state});
    </insert>
    <delete id="deleteById">
        delete from commodity_type where id=#{id};
    </delete>
    <update id="updateNameById">
        update commodity_type set name=#{name} where id=#{id};
    </update>
    <update id="updateStateById">
        update commodity_type
        set  state=#{state}
        where id=#{id};
    </update>
    <select id="selectAll" resultType="com.example.tbao.Pojo.CommodityType">
        select * from commodity_type where state=1;
    </select>
    <select id="selectById" resultType="com.example.tbao.Pojo.CommodityType">
        select * from commodity_type where id=#{id} and state=1;
    </select>
</mapper>