<?xml version="1.0" encoding="utf-8"  ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.tbao.Dao.MerchantDao">
    <insert id="insert">
        insert into merchant (name, image, state, userid) value (#{name},#{image},#{state},#{userId});
    </insert>
    <delete id="deleteById">
        delete from merchant where id=#{id};
    </delete>
    <update id="updateStateById">
        update merchant set state=#{state} where id=#{id};
    </update>
    <update id="updateNameById">
        update merchant set name=#{name} where id=#{id};
    </update>
    <update id="updateImageById">
        update merchant set image=#{image} where id=#{id};
    </update>
    <select id="selectById" resultType="com.example.tbao.Pojo.Merchant">
        select * from merchant where id=#{id} and state=1;
    </select>
    <select id="selectByUid" resultType="com.example.tbao.Pojo.Merchant">
        select * from merchant where userid=#{uid} and state=1 order by id desc;
    </select>
    <select id="selectByNameLike" resultType="com.example.tbao.Pojo.Merchant">
        select * from merchant where state=1 and name like "%"#{name}"%" order by id desc limit #{limit},#{limitNum};
    </select>

</mapper>